<footer>
  <div>
    <p>
      &copy; {% year %} -
      <a href="https://vedana.net/" "target=_blank">Eric Case</a>,
      <a href="https://rr.co/" "target=_blank">Randy Reddig</a>,
      and <a href="https://github.com/cee-dub" target="_blank">Cameron Walters</a>
    </p>
  </div>
</footer>
